[Desktop Entry]
Encoding=UTF-8
Name=Link to .gitignore
Type=Link
URL=https://github.com/Hedara444/Flash1/blob/master/backend/.gitignore
Icon=text-html
